body {
  background: url(../img/background.png) no-repeat;
}

.card {
  border-radius: 2rem;
  overflow:hidden;
}

.card-body > div {
  padding: .7rem;
  align-items: center;
  text-align: center;
}

.card-body div.d-flex > div:first-child {text-align: left;}
.card-body div.d-flex > div span {color:#9e9e9e;}

.bg-skyblue {
  background: rgb(245, 252, 253);
}

span.aqua-text {
  color:rgb(128, 223, 243);
}

span.price { font-size: 40px; font-weight:bold;}
span.price sub {font-size:60%; bottom: 0%; font-weight:200;}

.feature {padding:0px !important;}
.feature > div {padding: .7rem;}
.striped-feature >div:nth-child(odd) {
  background: rgb(245, 252, 253);
}

div.feature1 {border-bottom: 2px solid rgb(220, 239, 244);}
div.feature2 {border-bottom: 2px solid rgb(220, 239, 244); border-top: 2px solid rgb(220, 239, 244);}
div.feature3 {border-top: 2px solid rgb(220, 239, 244);}

