<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>mdbvue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/mdb.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="container py-5">
        <div class="card">
            <!--Card content-->
            <div class="card-body px-0 py-0">
              <div class="bg-skyblue d-flex align-items-start">
                  <div v-for="header in headers" class="col-md-3">
                    <h5>{{header.title}}</h5>
                    <p class="grey-text">{{header.desc}}</p>
                  </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="col-md-3 text-bold">
                  Monthly price
                </div>
                <div v-for="price in planPrices" class="col-md-3">
                  <span class="price aqua-text">{{price}}<sub>$</sub></span>
                </div>
              </div>

              <div class="d-flex bg-skyblue">
                <div class="col-md-3 text-bold">
                  Amount of users
                </div>
                <div v-for="userAmount in planUserAmounts" class="col-md-3 text-center">
                  <span>{{userAmount}}&nbsp; users</span>
                </div>
              </div>

              <div class="d-flex py-5">
                <div class="offset-md-3 col-md-3 text-center">
                  <button class="btn btn-danger">Buy now</button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-danger">Buy now</button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-danger">Enquire now</button>
                </div>
              </div>

              <div class="striped-feature feature1 feature">
                <div v-for="feature in features1" class="d-flex">
                  <div class="col-md-3">{{feature.title}}</div>
                  <div class="col-md-3"><span>{{feature.plan1}}</span></div>
                  <div class="col-md-3"><span>{{feature.plan2}}</span></div>
                </div>
              </div>
              <div class="blank-row">
                &nbsp;
              </div>

              <div class="bg-skyblue feature2 feature">
                <div v-for="feature in features2" class="d-flex">
                  <div class="col-md-3">{{feature.title}}</div>
                  <div class="col-md-3"><span>{{feature.plan1}}</span></div>
                  <div class="col-md-3"><span>{{feature.plan2}}</span></div>
                </div>
              </div>
              <div class="blank-row">
                &nbsp;
              </div>

              <div class="striped-feature feature3 feature">
                <div v-for="feature in features3" class="d-flex">
                  <div class="col-md-3">{{feature.title}}</div>
                  <div class="col-md-3"><span>{{feature.plan1}}</span></div>
                  <div class="col-md-3"><span>{{feature.plan2}}</span></div>
                </div>
              </div>

              <div class="d-flex py-5 mb-4">
                <div class="offset-md-3 col-md-3 text-center">
                  <button class="btn btn-danger">Buy now</button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-danger">Buy now</button>
                </div>
              </div>

            </div>
            <!--Card content-->
        </div>
        <div class="d-flex py-0 justify-content-center">
          <button class="btn btn-danger my-0">Book demo</button>
        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  
  <script src="js/mdb.min.js"></script>
  <script src="js/main.js"></script>
</html>
